@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@theme{
  --color-primary: #5f6FFF;
}
*{
  font-family: Outfit;
}

@layer utilities{
  /* .custom-primary-bg{
    background-color: theme('colors.primary')
  } */
    .grid-cols-auto{
      grid-template-columns: repeat(auto-fill, minmax(200px , 1fr))
    }
}

@media(max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}

.active hr{
  @apply block 
}

::-webkit-scrollbar{
  @apply hidden
}